<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) 카메라 권한이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) 마이크 권한이 필요합니다.</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>EMOJI_API_KEY</key>
	<string>$(EMOJI_API_KEY)</string>
	<key>STUN_SERVERS</key>
	<string>$(STUN_SERVERS)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photoGether</string>
			</array>
			<key>CFBundleURLName</key>
			<string>kr.codesquad.boostcamp9.PhotoGether</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
